[submodule ".quicklisp-install"]
	path = .quicklisp-install
	url = https://github.com/html/require-quicklisp.git
[submodule "oz-parsing-util"]
	path = oz-parsing-util
	url = https://gist.github.com/5283629.git
[submodule "php-funcs-for-cl"]
	path = php-funcs-for-cl
	url = https://gist.github.com/html/4707958
[submodule "lib/css-selectors"]
	path = lib/css-selectors
	url = https://github.com/AccelerationNet/css-selectors.git
